.menuButton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
}

.dropDownButton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
}

.disconnectButton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 90%;
    left: 90%;
}
